<div class="modal__header">
    <button class="modal__close pull-right" ng-click="toggleModal()"><i class="icon-close-small"></i></button>
    <button class="modal__back pull-left" ng-click="cancel()">
        <i class="icon-chevron-left-thin"></i>
    </button>

    <h3 class="modal__heading">{{action | capitalize}} {{readableType}} Widget</h3>
</div>

<div class="modal__body">
    <div class="modal__body-content leMinHeight--60vh" >
        <form novalidate>
            <div ng-if="type == 'contentList'" ng-include="'app/components/createEditWidget/forms/contentList.html'"></div>
            <div ng-if="type == 'adsense'" ng-include="'app/components/createEditWidget/forms/sense.html'"></div>
            <div ng-if="type == 'menu'" ng-include="'app/components/createEditWidget/forms/menu.html'"></div>
            <div ng-if="type == 'html'" ng-include="'app/components/createEditWidget/forms/htmlBlock.html'"></div>
        </form>
    </div>
</div>
<div class="modal__footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn--primary" ng-click="save()">Save</button>
</div>

