.leContentListEditor{
    position: fixed;
    top: $nav-height;
    bottom: 0;
    left: 0;
    width: 400px;
    background-color: $white;

    transition: all .3s;
    transform: translateX(-100%);
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    z-index: 1048;

    &--active{
       transform: translateX(0);
    }

}

.leAllArticlesPane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    background-color: $white;
    transition: all .3s;
    transform: translateX(-15px);
    box-shadow: 0 0 8px rgba(0,0,0,.3);

    &--active {
        transform: translateX(400px);
    }
}
