.leActive{
    .swp_container{
        outline: 1px dashed $colorContainer;
        outline-offset: 5px;
        position: relative;

        &__controls{
            display: block;
        }
    }
}

.leListElement__content, .leSubnav__button {
    cursor: pointer;
}