.leActive{
    .swp_container{
        outline: 5px dashed $colorContainer;
        outline-offset: 5px;
        position: relative;
        z-index: 5;

        &__controls{
            display: block;
        }
    }
}

.leListElement__content, .leSubnav__button {
    cursor: pointer;
}

.modal__back{
    padding-right: 20px;
    border-right: 1px solid #e4e4e4;
    line-height: 48px;
    margin: -12px 20px -12px 0;
}

.dndDraggingSource {
    display: none !important;
}

.dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
    margin-bottom: 6px;
}
