<div class="leListElement leListElement--shadow">

    <div class="leListElement__content">
        <div>
            <span>Widget Name</span>
        </div>
        <div>
            <span class="leText--light leText--smaller leText--uppercase">widget type</span>

        </div>
    </div>
    <div class="leListElement__right leListElement__right--hidden">
        <button class="iconButton leListElement__icon">
            <i class="icon-pencil"></i>
        </button>

        <button class="iconButton leListElement__icon">
            <i class="icon-trash"></i>
        </button>

    </div>
</div>