<div class="leListElement leListElement--shadow">
    <div class="leListElement__content">
        <div>
            <span>{{ widget.name || widget.widget.name }}</span>
        </div>
        <div>
            <span class="label label--primary">{{ widget.type || widget.widget.type }}</span>
        </div>
    </div>
    <div class="leListElement__right leListElement__right--hidden" >
        <button class="iconButton leListElement__icon" ng-if="route=='main'">
            <i class="icon-pencil"></i>
        </button>
        <button class="iconButton leListElement__icon" ng-if="route=='main'" ng-click="unlinkWidget(widget)">
            <i class="icon-trash"></i>
        </button>
        <button class="iconButton leListElement__icon" ng-if="route=='linkWidget'" ng-click="linkWidget(widget)">
            <i class="icon-plus-large"></i>
        </button>
    </div>
</div>
