.leOverlay {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: background .3s;
}

.leOpen .leOverlay {
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.21);
}