.leActive{
  padding-top: $nav-height;
  transition: all .2s;
}

.leIconButton {
    border: none;
    background: none;
    padding: 0;
}

.leText{

    &--light{
        color: $grayLight;
    }

    &--lighter{
        color: $grayLighter;
    }

    &--italic{
        font-style: italic;
    }

    &--bold{
        font-weight: 500;
    }

    &--uppercase{
        text-transform: uppercase;
    }

    &--small{
        font-size: 11px;
    }

    &--smaller{
      font-size: 10px;
    }


    &--smallHeading{
        font-size: 12px;
        line-height: 1em;
        margin-bottom: .8em;
        color: $gray;
    }
}

.leMinHeight{
    &--60vh{
        min-height: 60vh;
    }
}