.textarea{
    background: $white;
    width: 100%;
    min-height: 150px;
}

.leOpen{
  padding-top: $nav-height;
  transition: all .2s;
}

.leContentListEditorOpen {
    margin-left: 400px;
}

.leIconButton {
    border: none;
    background: none;
    padding: 0;
}

.leListElementHider{
    max-height: 100px;
    overflow: hidden;
    transition: all .3s;

    &--hide{
        max-height: 0;
    }
}

.leClearfix::after {
    content: "";
    clear: both;
    display: table;
}

.leContentPadding {
    padding: 10px;
}

.leCursorMove {
    cursor: move;
}

.leFlatList {
    border-top: 1px solid #ddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leNoPadding {
    padding: 0 !important;
}

.leMargin {
    &--bottom {
        margin-bottom: 10px;
    }
}

.leLayer {
    &--1 {
        z-index: 1;
    }

    &--2 {
        z-index: 2;
    }
}

.leBoxShadow {
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.leText{

    &--light{
        color: $grayLight;
    }

    &--lighter{
        color: $grayLighter;
    }

    &--italic{
        font-style: italic;
    }

    &--bold{
        font-weight: 500;
    }

    &--uppercase{
        text-transform: uppercase;
    }

    &--small{
        font-size: 11px;
    }

    &--smaller{
      font-size: 10px;
    }


    &--smallHeading{
        font-size: 12px;
        line-height: 1em;
        margin-bottom: .8em;
        color: $gray;
    }
}

.leMinHeight{
    &--60vh{
        min-height: 60vh !important;
    }
}

.modal__wrapper {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
}