.leBlockControls{
    display: none;
    position: absolute;
    left: -7px;
    top: -30px;
    padding-bottom: 5px;


    &__item{
        display: flex;
        align-items: center;
        height: 25px;
        background: $colorContainer;
        padding: 2px 1em;
        color: $white;
        font-size: 9px;
        line-height: 9px;
        text-transform: uppercase;
        cursor: pointer;

        &--widget{
            background: $colorWidget;
        }

        i:last-child{
            margin-left: 1em;
            font-size: 14px;
        }
    }
}

.swp_container .swp_widget:first-child .leBlockControls{
    left: 89px;
 }
