.leBlockControls{
    display: none;
    position: absolute;
    left: -7px;
    top: -10px;
    padding-bottom: 5px;


    &__item{
        display: flex;
        align-items: center;
        height: 25px;
        color: $white !important;
        background: $colorContainer;
        padding: 2px 1em;
        color: $white !important;
        font-family:'Open Sans', sans-serif;
        font-size: 11px;
        line-height: 1em;
        text-transform: uppercase;
        cursor: pointer;

        &--widget{
            color: #333 !important;
            background: $colorWidget;
        }

        &--list {
            background: $colorContentList;
        }

        i:last-child{
            margin-left: 1em;
            font-size: 14px;
        }
    }
}

.swp_container .swp_widget .leBlockControls{
    left: auto;
    right: -5px;
    top: -5px;
 }
