.leSubnav{
    display: flex;
    background-color: $sd-background;
    border-bottom: 1px solid #e4e4e4;
    min-height: 48px;
    align-items: center;

    &__name{
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        padding: .2em 1em;
    }

    &__button{
        display: flex;
        flex: 0 0 auto;
        height: 48px;
        width: 48px;
        background-color: $white;
        border-left: 1px solid #e4e4e4;
        justify-content: center;
        align-items: center;
    }
}
