.livesite-editing {
    padding-top: 48px;

    .swc_container:hover {
        outline: 2px dotted red;
        outline-offset: 5px;
    }
    .floating-controller {
        background-color: black;
    }
}