<div class="form__row">
    <div class="sd-line-input">
        <label class="sd-line-input__label">Widget Name</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.name">
    </div>
    <div class="sd-line-input">
        <label class="sd-line-input__label">Ad Client</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.parameters.ad_client">
    </div>
    <div class="sd-line-input">
        <label class="sd-line-input__label">Ad Slot</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.parameters.ad_slot">
    </div>
    <div class="sd-line-input">
        <label class="sd-line-input__label">Ad Format</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.parameters.ad_format">
    </div>
    <div class="sd-line-input">
        <label class="sd-line-input__label">Ad Style</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.parameters.ad_style">
    </div>
    <div class="sd-line-input">
        <label class="sd-line-input__label">Ad Test</label>
        <input class="sd-line-input__input" type="text" ng-model="widget.parameters.ad_test">
    </div>
</div>
