.swp_widget .leBlockControls{
  display: none;
}

.leActive{
    .swp_widget{
        outline: 3px dashed $colorWidget;
        outline-offset: 2px;
        position: relative;

        .leBlockControls{
          display: block;
        }
    }
}
